/*  body */

body {
  font-family: 'bd-geminis', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  height: 100vh;
  perspective: 1500px;
  background-color: rgb(36, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(255, 174, 0);
  text-decoration: none;
}

/* board styles */

.tile-grid {
  display: grid;
  grid-template-columns: repeat(15, 80px);
  grid-gap: 5px;
}

.tile {
  width: 80px;
  height: 70px;
  background-size: 100% 100%;
  position: relative;
  border: 2px solid;
  border-left-color: rgb(255, 225, 0);
  border-top-color: rgb(255, 225, 0);
  border-right-color: rgb(255, 174, 0);
  border-bottom-color: #ffae00;
  color: rgb(255, 174, 0);
  font-size: 18px;
  border-radius: 50%;
  position: relative;
  /* box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffae00, 0 0 40px #ffae00,
    0 0 50px #ffae00; */
}

.tile-sprite {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
}

.tile-action {
  position: absolute;
  z-index: 0;
}

.background {
  opacity: 0;
}

.popup-style {
  font-size: 80px;
  text-align: center;
  padding-top: 10px;
}

#ok {
  background-color: #4d901e;
  color: black;
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

#view-result-button {
  font-size: 30px;
}

.popup-container {
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 20%;
  z-index: 5;
  background-color: rgb(36, 35, 35);
  border: 1px solid #4d901e;
  color: #4d901e;
  /* border-top: 4px solid rgb(222, 222, 222);
  border-left: 4px solid rgb(222, 222, 222);
  border-right: 4px solid rgb(69, 69, 69);
  border-bottom: 4px solid rgb(69, 69, 69); */
  opacity: 1;
}

.board-button {
  width: 100px;
  height: 100px;
  background-color: rgb(36, 35, 35);
  border: 1px solid #4d901e;
  /* border-top: 10px solid rgb(255, 206, 99);
  border-left: 10px solid rgb(255, 206, 99);
  border-right: 10px solid rgb(255, 174, 0);
  border-bottom: 10px solid rgb(255, 174, 0); */
  font-family: 'bd-geminis', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
}

.start-info {
  width: 700px;
  height: 400px;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  top: 20%;
  z-index: 5;
  background-color: rgb(36, 35, 35);
  border: 1px solid #4d901e;
  color: #4d901e;
  opacity: 1;
}

#start {
  width: 200px;
  height: 100px;
  color: #4d901e;
}

#story {
  padding: 20px;
  text-align: center;
}

.invader {
  height: 50px;
  width: 50px;
  margin: 10px;
}

#game-id {
  width: 100px;
  height: 25px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 25%;
  background-color: white;
  text-align: center;
  padding: 2px;
}

#central-div {
  width: 1200px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-turn {
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  background-color: rgb(36, 35, 35);
  border: 2px solid #4d901e;
  z-index: 3;
  text-align: center;
  font-family: 'bd-geminis', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}

.current-round {
  width: 200px;
  height: 300px;
  color: #4d901e;
  box-sizing: border-box;
  background-color: rgb(36, 35, 35);
  border: 2px solid #4d901e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-family: 'bd-geminis', sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
}

.current-round div {
  margin: 15px;
}

#current-turn img {
  width: 100px;
  height: 100px;
}

/* ------------------ leaderboard styles -------------------*/

#leaderboard {
  width: 340px;
  height: 300px;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  margin: 10px;
  font-family: 'bd-geminis', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  color: #4d901e;
  background-color: rgb(36, 35, 35);
  border: 2px solid #4d901e;
  z-index: 3;
}

.leader-div {
  background-color: rgb(36, 35, 35);
  border-style: inset;
  border: 2px solid #4d901e;
  margin: 5px;
  padding: 10px;
}

.leader-name-div {
  height: 20px;
  justify-self: center;
  font-size: 15px;
}

.mini-game-button {
  width: 200px;
  height: 50px;
  padding: 5px;
  color: rgb(36, 35, 35);
  background-color: #4d901e;
  border: 2px solid #4d901e;
  font-family: 'bd-geminis', sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3px;
  box-shadow: 2px 2px rgb(36, 35, 35), 4px 4px #4d901e;
}

/* player card styles */

.card {
  position: absolute;
  width: 150px;
  height: 140px;
  z-index: 2;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 15px;
  background-color: rgb(36, 35, 35);
}

.card-sprite {
  height: 70px;
  width: 70px;
}

.card-sprite-div {
  height: 90px;
  width: 100px;
  text-align: center;
  padding: 10px;
}

#card0 {
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  border-color: rgb(255, 174, 0);
  border-bottom-width: 2px;
  border-right-width: 2px;
}

#card1 {
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
}

#card2 {
  bottom: 0;
  left: 0;
  border-top-left-radius: 10px;
}

#card3 {
  bottom: 0;
  right: 0;
  border-top-right-radius: 10px;
}
/*  --------- Dice ----- */

.dice-roll {
  width: 300px;
  height: 100px;
  background-color: rgb(36, 35, 35);
  border: 1px solid #4d901e;
  color: #4d901e;

  border-radius: 3px;
  font-family: 'bd-geminis', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}

#roll-display {
  width: 100px;
  height: 100px;
  z-index: 3;
  text-align: center;
  font-family: 'bd-geminis', sans-serif;
  font-size: 90px;
  letter-spacing: 3px;
}

/* ------- colors -------- */

.blue {
  background-color: #4056ff;
}

.red {
  background-color: #f92831;
}
.green {
  background-color: #4d901e;
}

.yellow {
  background-color: #f9eb30;
}

.orange {
  background-color: #ff5322;
}

.pink {
  background-color: #e265ff;
}

.blue-text {
  color: #4056ff;
}

.red-text {
  color: #f92831;
}
.green-text {
  color: #4d901e;
}

.yellow-text {
  color: #f9eb30;
}

.orange-text {
  color: #ff5322;
}

.pink-text {
  color: #e265ff;
}

/* ---- phaser canvas ---- */

#game-canvas {
  position: absolute;
  z-index: 6;
  box-sizing: border-box;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -300px;
  border: 1px solid green;
}

#game-background {
  position: absolute;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  background-color: rgb(36, 35, 35);
}

/* ----- welcome/creation ------ */

.welcome {
  width: 1000px;
  height: 800px;
}

.background-div {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(36, 35, 35);
  color: rgb(255, 174, 0);
}

.flex-cont-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-cont-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-outline {
  border: 1px solid rgb(255, 174, 0);
  box-shadow: 5px 5px 0px rgb(255, 174, 0);
}

#image-div {
  width: 200px;
  height: 200px;

  border-radius: 10px;
  padding: 0px 10px 15px 10px;
  margin: 10px;
}

.div-button {
  background-color: rgb(36, 35, 35);
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.div-button:hover {
  box-shadow: 2px 2px 0px rgb(255, 174, 0);
}

.input-form {
  background-color: rgb(36, 35, 35);
  color: rgb(255, 174, 0);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-family: 'bd-geminis', sans-serif;
}

.input-form:focus {
  outline: none;
}

#welcome-div {
  width: 100vw;
  height: 500px;
  /* position: relative; */
}

#join-div {
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
  font-size: 20px;
}

.color-button {
  padding: 10px;
}

.color-button:hover {
  box-shadow: 2px 2px 0px rgb(255, 174, 0);
}

#code-label {
  padding-top: 10px;
}

#box-container {
  position: relative;
  width: 600px;
  height: 500px;
}

section {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 25%;
  left: 25%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.face {
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(255, 174, 0);
  background-color: rgb(36, 35, 35);
  opacity: 1;
  height: 300px;
  width: 300px;
  border-radius: 40px;
}

.one {
  background-image: url('assets/board/images/invader-pink.png');
  transform: translateZ(150px);
}
.two {
  background-image: url('assets/board/images/mushroom-green.png');
  transform: rotateX(90deg) translateZ(150px);
}
.three {
  background-image: url('assets/board/images/invader-yellow.png');
  transform: rotateX(-90deg) translateZ(150px);
}
.four {
  background-image: url('assets/board/images/mushroom-blue.png');
  transform: rotateY(-90deg) translateZ(-150px);
}
.five {
  background-image: url('assets/board/images/invader-orange.png');
  transform: rotateY(90deg) translateZ(-150px);
}
.six {
  background-image: url('assets/board/images/mushroom-red.png');
  transform: translateZ(-150px);
}
/* --------- end screen ------------ */

#game-over {
  font-size: 40px;
  margin: 10px;
}

#game-end-wrap {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(-100vh / 2);
  margin-left: calc(-100vw / 2);
  z-index: 5;
}

.podium {
  font-size: 50px;
  width: 150px;
  border: 2px solid rgb(255, 174, 0);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.podium-div {
  align-items: flex-end;
}

#pod0 {
  height: 170px;
}

#pod1 {
  height: 150px;
}
#pod2 {
  height: 130px;
}

#pod3 {
  height: 120px;
}

#play-again {
  font-size: 30px;
}
