/*  body */

body {
  background-image: url('https://c.wallhere.com/photos/f2/61/digital_art_Super_Mario_video_games-263116.jpg!d');
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

#welcome {
  width: 75%;
  margin: 0 auto;
}

/* board styles */

.tile-grid {
  display: grid;
  grid-template-columns: repeat(15, 70px);
  position: absolute;
  left: 50%;
  margin-left: -525px;
  top: 50%;
  margin-top: -220px;
}

.tile {
  width: 70px;
  height: 60px;
}

.background {
  background-color: white;
  opacity: 0;
}

.start {
  background-color: rgba(247, 247, 53, 0.9);
  border: 1px solid rgb(247, 247, 53);
}

.add {
  background-color: rgba(0, 128, 36, 0.9);
  border: 1px solid rgb(0, 128, 36);
}

.remove {
  background-color: rgba(255, 0, 0, 0.9);
  border: 1px solid rgba(255, 0, 0, 1);
}

/* leaderboard styles */

#leaderboard {
  width: 300px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  background-color: white;
  border: 1px solid blue;
  z-index: 3;
}

#leader-div {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  /* background-color: rgba(0, 0, 255, 0.577); */
}

.leader-p {
  width: 100px;
  height: 20px;
  justify-self: center;
}

/* player card styles */

.card {
  width: 170px;
  height: 130px;
  border: 1px solid blue;
  background-color: white;
  z-index: 2;
}

#card0 {
  position: absolute;
  top: 0;
  left: 0;
}

#card1 {
  position: absolute;
  top: 0;
  right: 0;
}

#card2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#card3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*  --------- Dice ----- */

.dice-roll {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
}
/* Lobby Section */
/* body {
  background-color: black;
} */

#lobby-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0px red;
  margin: 1em;
}

.avatar {
  width: 125px;
  height: 125px;
  border: solid 1px white;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Arial, 'Mario Party Hudson';
}

.lobby-input {
  width: 150px;
  text-align: center;
}

.selected-color {
  margin-top: 0.2em;
  border: solid 1px white;
  width: 97%;
  height: 15px;
}

.blue {
  background-color: Blue;
}

.red {
  background-color: Red;
}
.green {
  background-color: Green;
}

.yellow {
  background-color: Yellow;
}

.black {
  background-color: Black;
}

/* End Lobby Section */

#game-canvas {
  z-index: 5;
}
